.AddCurso{
	padding: .7em;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: space-around;
	align-items: start;
	width: 100%;
}
.CrearCurso {
	background-color: var(--BlueBlack);
	padding: 0em 0em 1em 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	border-radius: 1em;
	width: 100%;
	max-width: 17em;
}
.CrearCurso > h1 {
	background-color: var(--BlueBlackAdmint);
	color: var(--White);
	width: 100%;
	text-align: center;
	padding: .5em;
	border-radius: .5em .5em 0em 0em;
}
.CrearCurso > div {
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: 100%;
	color: var(--White);
	padding: 0em 1em 0em 1em;
}
.CrearCurso > div > input {
	padding: .6em;
	border-radius: .5em;
    border: none;
}
.CrearCurso > button {
	font-size: 1.2em;
	padding: .4em;
	border: none;
	border-radius: .2em;
	color: var(--White);
	background-color: var(--BlueBlackAdmint);
	cursor: pointer;
}

.CrearCurso > div > select  {
	padding: .6em;
	border-radius: .5em;
    border: none;
}